# Google AI Studio (uncomment and set to use AI Studio instead of Vertex AI)
#GOOGLE_API_KEY=
#GOOGLE_GENAI_USE_VERTEXAI=FALSE

# Vertex AI (uncomment and set to use Vertex AI)
#GOOGLE_GENAI_USE_VERTEXAI=TRUE
#GOOGLE_CLOUD_PROJECT=
#GOOGLE_CLOUD_LOCATION=

AGENT_GEMINI_MODEL=gemini-2.5-flash

ALPHA_VANTAGE_API_KEY=

AGENT_PORT=10000
